@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #A3AB78, #BDE038);
}

main {
    background-color: white;
    width: 1000px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(16, 69, 79, 0.337);
}

h1 {
    color: rgba(64.7, 16.1, 56.9);
    text-align: center;
    text-shadow: 5px 5px 100px rgba(31, 8, 27, 0.554);
}

h2 {
    color: #10454F;
}


p {
    text-align: justify;
}