@charset "UFT-8";

/*
    (identificadores e classes em HTML e CSS)
            HTML: id    = CSS: # (Único por elemento)
            HTML: class = CSS: . (compartilhada entre diferentes elementos ou não)
*/


body {
    background-color: #577efe;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #4d177f;
}

/* identificador de elemento, basta colocar o id com #, o elemento é opcional */
h1#principal {
    text-align: center;
    font-style: italic;
}

h2 {
    text-indent: 40px;
}

h2.basico {
    color: rgb(000, 255, 000);
}

h2.intermediario {
    color: rgb(221, 255, 0);
}

h2.avancado {
    color: rgb(200, 0, 0);
}

p {
    text-indent: 80px;
}

